---
layout: default
---
<header class="masthead">
  <h1 class="masthead-title--small">
    <a href="{{ site.baseurl }}/">{{ site.name }}</a>
  </h1>
</header>
<div class="content post">
  <h1 class="post-title">{{ page.title }}</h1>
  <div class="post-date">
    <time>{{ page.date | date_to_string }}</time>
  </div>
  {{ content }}
</div>

<div id="disqus_thread"></div>
<script>
    (function() {  // DON'T EDIT BELOW THIS LINE
        var d = document, s = d.createElement('script');

        s.src = '//itdxer.disqus.com/embed.js';

        s.setAttribute('data-timestamp', +new Date());
        (d.head || d.body).appendChild(s);
    })();
</script>
<noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript" rel="nofollow">comments powered by Disqus.</a></noscript>

<script src="http://cdn.mathjax.org/mathjax/latest/MathJax.js?config=TeX-AMS-MML_HTMLorMML" type="text/javascript"></script>
<script>
    function getElementByAttribute(attr, value, root) {
        root = root || document.body;
        if(root.hasAttribute(attr) && root.getAttribute(attr) == value) {
            return root;
        }
        var children = root.children,
            element;
        for(var i = children.length; i--; ) {
            element = getElementByAttribute(attr, value, children[i]);
            if(element) {
                return element;
            }
        }
        return null;
    }

    function getParent(element) {
        var parentElem = element.parentElement;
        if (!parentElem) {
            parentElem = element.parentNode;
        }
        return parentElem
    }

    function setInnerText(element, text) {
        if (element.textContent) {
            element.textContent = text;
        } else {
            element.innerText = text;
        }
    }

    function showSourceCode(element) {
        var parentElement = getParent(element),
            sourceCodeElement = getElementByAttribute("data-type", "source-code", parentElement);

        if (sourceCodeElement.style.display == 'none') {
            sourceCodeElement.style.display = 'block';
            setInnerText(element, "Hide source code");
        } else {
            sourceCodeElement.style.display = 'none';
            setInnerText(element, "Show source code");
        }

        return false;
    }
</script>
